:root, [data-bs-theme=light] {
  --bs-primary: #FF8C84;
  --bs-primary-rgb: 255,140,132;
  --bs-primary-text-emphasis: #663835;
  --bs-primary-bg-subtle: #FFE8E6;
  --bs-primary-border-subtle: #FFD1CE;
  --bs-body-font-family: Quicksand, sans-serif;
  --bs-border-style: none;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #FF8C84;
  --bs-btn-border-color: #FF8C84;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FF9D96;
  --bs-btn-hover-border-color: #FF9890;
  --bs-btn-focus-shadow-rgb: 38,21,20;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFA39D;
  --bs-btn-active-border-color: #FF9890;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #FF8C84;
  --bs-btn-disabled-border-color: #FF8C84;
}

.btn-outline-primary {
  --bs-btn-color: #FF8C84;
  --bs-btn-border-color: #FF8C84;
  --bs-btn-focus-shadow-rgb: 255,140,132;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FF8C84;
  --bs-btn-hover-border-color: #FF8C84;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FF8C84;
  --bs-btn-active-border-color: #FF8C84;
  --bs-btn-disabled-color: #FF8C84;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #FF8C84;
}

[data-bs-theme=dark] {
  --bs-primary: rgb(229, 115, 115);
  --bs-primary-rgb: 229,115,115;
  --bs-primary-text-emphasis: #EFABAB;
  --bs-primary-bg-subtle: #2E1717;
  --bs-primary-border-subtle: #894545;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(229, 115, 115);
  --bs-btn-border-color: rgb(229, 115, 115);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #E98888;
  --bs-btn-hover-border-color: #E88181;
  --bs-btn-focus-shadow-rgb: 34,17,17;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #EA8F8F;
  --bs-btn-active-border-color: #E88181;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(229, 115, 115);
  --bs-btn-disabled-border-color: rgb(229, 115, 115);
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: rgb(229, 115, 115);
  --bs-btn-border-color: rgb(229, 115, 115);
  --bs-btn-focus-shadow-rgb: 229,115,115;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(229, 115, 115);
  --bs-btn-hover-border-color: rgb(229, 115, 115);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(229, 115, 115);
  --bs-btn-active-border-color: rgb(229, 115, 115);
  --bs-btn-disabled-color: rgb(229, 115, 115);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(229, 115, 115);
}

